* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1 {
  color: #426696;
  font-weight: 600;
  font-size: 3rem;
  opacity: 0.8;
}
h2,
p {
  color: #658ec6;
  font-weight: 500;
  opacity: 0.8;
}

h3 {
  color: #426696;
  font-weight: 600;
  opacity: 0.8;
}

.wrapper {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right top, #9e65df, #1e1a5f);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.glass {
  background: white;
  min-height: 80vh;
  width: 60%;
  background: transparent;
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
  flex-direction: column;
}


.header {
  width: 60%;
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header input {
  width: 600px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border: none;
  width: 50%;
  padding: 0.5rem;
  border-radius: 2rem;
}

.header select {
  z-index: 4;
  border: none;
  margin-left: 30px;
  width: 200px;
  height: 30px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 10px;
}


.card-item {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  border-radius: 1rem;
  margin-top: 20px;

}

.card-info {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  border-radius: 1rem;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.card-info p,h1 {
  margin-left: 10px;
}
.card-item img {  
  border-radius: 1rem;
}
  

.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: fixed;
  border-radius: 50%;
}

.circle1 {
  top: 5%;
  right: 15%;
}
.circle2 {
  bottom: 5%;
  left: 10%;
}
